<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="admin.css">
    <title>Admin page</title>

</head>
<body>


<div class="container">
          <div class="admin">
               <h2>Admin page</h2>
          </div>
     <div class="sort">
          <a href="/admin/name">Name</a> /
          <a href="/admin/email">Email</a> / 
          <a href="/admin/password">Password</a> /
          <a href="/admin/city">City</a> /
          <a href="/admin/date">Last visit date</a>
     </div>
     <h3 style="text-align: center;">Sort by city</h3>
     <table class="table">  
          <tr class="line">
               <form action="/create" method="post">
                    <td>#</td>
                    <td ><input type="text" name="namecreate"  value="Name" ></td>
                    <td><input type="text" name="emailcreate"  value="Email"></td>
                    <td><input type="text" name="passwordcreate"  value="Password"></td>
                    <td><input type="text" name="citycreate"  value="City"></td>
                    <td><input type="text" name="citycreate"  value="Last visit date"></td>
                    <td style="border-right: 0;">Actions
                    </td>
                    <td style="border-left: 0;"></td>
               </form>
          </tr>
             <tr class="line">
                  <form action="/admin" method="post">
                         <td>1</td>
                         <td style="display: none"><input type="text" name="id" value="<%= data[i]._id %>"></td>
                         <td><input type="text" name="name" value="Admin"></td>
                         <td><input type="text" name="email" value="admin@gmail.com"></td>
                         <td><input type="text" name="password" value="password"></td>
                         <td><input type="text" name="city" value=""></td>
                         <td><input type="text" name="date" value="Mon May 09 2022 21:52:29 GMT+0600 (Восточный Казахстан)"></td>
                         <td style="border-right: 0">
                         </td>
                         <td style="border-left: 0"></td>     
                    </form>
             </tr>
             <tr class="line">
               <form action="/admin" method="post">
                      <td>2</td>
                      <td style="display: none"><input type="text" name="id" value="<%= data[i]._id %>"></td>
                      <td><input type="text" name="name" value="Alish"></td>
                      <td><input type="text" name="email" value="alish@gmail.com"></td>
                      <td><input type="text" name="password" value="Alish55("></td>
                      <td><input type="text" name="city" value="Almata"></td>
                      <td><input type="text" name="date" value="Sun May 08 2022 12:27:24 GMT+0600 (Восточный Казахстан)"></td>
                      <td><input type="submit" value="Change a data" class="change"></td></form>
                      <td><form action="/delete" method="post"><input type="text" name="index" value="<%= data[i]._id %>" style="display: none;"><input type="submit" value="Delete" class="delete"></td>
                 </form>
          </tr>
             <tr class="line">
               <form action="/admin" method="post">
                      <td>3</td>
                      <td style="display: none"><input type="text" name="id" value="<%= data[i]._id %>"></td>
                      <td><input type="text" name="name" value="Aigerim"></td>
                      <td><input type="text" name="email" value="aigerim@gmail.com"></td>
                      <td><input type="text" name="password" value="Aigera02("></td>
                      <td><input type="text" name="city" value="Astana"></td>
                      <td><input type="text" name="date" value="Sun May 08 2022 11:16:42 GMT+0600 (Восточный Казахстан)"></td>
                      <td><input type="submit" value="Change a data" class="change"></td></form>
                      <td><form action="/delete" method="post"><input type="text" name="index" value="<%= data[i]._id %>" style="display: none;"><input type="submit" value="Delete" class="delete"></td>
                 </form>
          </tr>
          <tr class="line">
               <form action="/admin" method="post">
                      <td>4</td>
                      <td style="display: none"><input type="text" name="id" value="<%= data[i]._id %>"></td>
                      <td><input type="text" name="name" value="Name"></td>
                      <td><input type="text" name="email" value="email@gmail.com"></td>
                      <td><input type="text" name="password" value="pasSword1$"></td>
                      <td><input type="text" name="city" value="City"></td>
                      <td><input type="text" name="date" value="Mon May 09 2022 16:56:39 GMT+0600 (Восточный Казахстан)"></td>
                      <td><input type="submit" value="Change a data" class="change"></td></form>
                      <td><form action="/delete" method="post"><input type="text" name="index" value="<%= data[i]._id %>" style="display: none;"><input type="submit" value="Delete" class="delete"></td>
                 </form>
          </tr>
          <tr class="line">
               <form action="/admin" method="post">
                      <td>5</td>
                      <td style="display: none"><input type="text" name="id" value="<%= data[i]._id %>"></td>
                      <td><input type="text" name="name" value="UserName"></td>
                      <td><input type="text" name="email" value="entermail@mail.ru"></td>
                      <td><input type="text" name="password" value="MypaS$word_01"></td>
                      <td><input type="text" name="city" value="Karaganda"></td>
                      <td><input type="text" name="date" value="Wed May 11 2022 21:10:27 GMT+0600 (Восточный Казахстан)"></td>
                      <td><input type="submit" value="Change a data" class="change"></td></form>
                      <td><form action="/delete" method="post"><input type="text" name="index" value="<%= data[i]._id %>" style="display: none;"><input type="submit" value="Delete" class="delete"></td>
                 </form>
          </tr>
          <tr class="line">
               <form action="/create" method="post">
                    <td>#</td>
                    <td><input type="text" name="namecreate" placeholder="Enter a name"></td>
                    <td><input type="text" name="emailcreate" placeholder="Enter a email"></td>
                    <td><input type="text" name="passwordcreate" placeholder="Enter a password"></td>
                    <td><input type="text" name="citycreate" placeholder="Enter a city"></td>
                    <td><input type="text" name="citycreate" placeholder="Enter a date"></td>
                    <td style="border-right: 0"><input type="submit" value="Create a user" class="change"></td>
                    <td style="border-left: 0"></td>
               </form>
          </tr>
          <tr class="last" style="display: none;"></tr>
     </table>
     <!--<center><button id="add">+ add new user</button></center>-->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="admin.js" charset="utf-8"></script>
</body>
</html>